:root {
  --bgColor-card: #fff;
  --bgColor-default: #fff;
  --borderColor-card: #aaa;
  --borderColor-default: #999;
  --borderColor-focus: #000;
  --borderRadius-card: 0.333rem;
  --borderWidth-card: 0.125rem;
  --borderWidth-default: 0.125rem;
  --borderWidth-focus: 0.25rem;
  --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
  --fgColor-card: #000;
  --fgColor-default: #000;
  --fgColor-muted: #999;
  --fgColor-onEmphasis: #fff;
  --fgColor-subtle: #ccc;
  --height-card: calc(1.25rem * 3.5);
  --rotate-card-left: -11.25deg;
  --rotate-card-right: 11.25deg;
  --rotate-cardScore-right: 45deg;
  --spacing-0: 0;
  --spacing-0_25: 0.25rem;
  --spacing-0_5: 0.5rem;
  --spacing-0_75: 0.75rem;
  --spacing-1: 1rem;
  --spacing-1_5: 1.5rem;
  --spacing-1_25: 1.25rem;
  --transitionDuration-0_5: 500ms;
  --width-card: calc(1.25rem * 2.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgColor-default: #333;
    --borderColor-default: #aaa;
    --borderColor-focus: #fff;
    --fgColor-default: #fff;
    --fgColor-muted: #aaa;
    --fgColor-subtle: #666;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: var(--borderWidth-focus) solid var(--borderColor-focus);
}

html {
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--bgColor-default);
  color: var(--fgColor-default);
}

button {
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  text-decoration: underline;
  width: auto;
}

button:has(.card) {
  outline: none;
  text-decoration: none;
}

button:disabled > .card {
  color: var(--fgColor-card);
  opacity: 0.5;
}

@keyframes cardWiggle {
  0%,
  100% {
    transform: rotate(var(--rotate-card-left)) translateY(calc(var(--spacing-0_5) * -1));
  }
  50% {
    transform: rotate(var(--rotate-card-right)) translateY(calc(var(--spacing-0_5) * -1));
  }
}

button:focus > .card,
button:not(:disabled):hover > .card {
  animation: cardWiggle 2s ease-in-out infinite;
  z-index: 1;
}

button:focus > .card {
  border-color: var(--borderColor-focus);
  outline: var(--borderWidth-card) solid var(--borderColor-focus);
}

.card {
  align-items: center;
  background-color: var(--bgColor-card);
  border: var(--borderWidth-card) solid var(--borderColor-card);
  border-radius: var(--borderRadius-card);
  color: var(--fgColor-card);
  display: flex;
  gap: var(--spacing-0_25);
  height: var(--height-card);
  justify-content: center;
  position: relative;
  user-select: none;
  width: var(--width-card);
}

.card .badge {
  align-items: center;
  background-color: var(--borderColor-card);
  border-radius: 100%;
  bottom: calc(var(--spacing-0_5) * -1);
  color: var(--fgColor-onEmphasis);
  display: flex;
  height: var(--spacing-1_25);
  justify-content: center;
  left: calc(var(--spacing-0_5) * -1);
  outline: var(--borderWidth-card) solid var(--bgColor-default);
  position: absolute;
  width: var(--spacing-1_25);
}

details.penalties-wrapper {
  color: var(--fgColor-muted);
  font-style: italic;
  margin-top: var(--spacing-1);
  white-space: pre;
}

details.penalties-wrapper > summary {
  list-style: none;
  width: fit-content;
}

details.penalties-wrapper > summary::before {
  content: '+ ';
}

details.penalties-wrapper[open] > summary::before {
  content: '- ';
}

.penalties {
  list-style: none;
}

hr {
  border: none;
  margin-top: var(--spacing-1);
}

hr::before {
  color: var(--fgColor-subtle);
  content: '* = * = *';
}

ol {
  margin-top: var(--spacing-1);
  margin-left: var(--spacing-1);
}

ol > li {
  margin-left: var(--spacing-1);
}

p {
  margin-top: var(--spacing-1);
}

.app {
  overflow: hidden;
  padding: var(--spacing-1);
}

.card-scores {
  --cardScore-height: var(--spacing-1);
  --cardScore-offset: var(--spacing-1_5);

  display: flex;
  gap: var(--spacing-0_5);
  left: 0;
  position: absolute;
  top: calc((var(--cardScore-height) + var(--cardScore-offset)) * -1);
}

@keyframes animateCardScore {
  0% {
    opacity: 0;
    transform: rotate(var(--rotate-cardScore-right)) translateY(var(--spacing-1));
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateY(0);
  }
}

.card-scores > .card-score {
  background-color: var(--bgColor-default);
  font-weight: bold;
  text-align: center;
  width: var(--width-card);
}

.card-scores > .card-score:last-child {
  animation: animateCardScore var(--transitionDuration-0_5) var(--easeOutExpo);
}

.discard-pile {
  display: flex;
  gap: var(--spacing-0_5);
  margin-top: var(--spacing-1);
  min-height: var(--height-card);
  position: relative;
}

@keyframes animateCard {
  0% {
    transform: rotate(var(--rotate-card-right)) translateY(var(--spacing-1));
  }
  100% {
    transform: rotate(0) translateY(0);
  }
}

.discard-pile > .card {
  animation: animateCard var(--transitionDuration-0_5) var(--easeOutExpo);
}

.game-controls {
  display: flex;
  gap: var(--spacing-1);
}

.hand {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-0_5);
  margin-top: var(--spacing-1);
  min-height: var(--height-card);
}

.lobby .placeholder {
  color: var(--fgColor-muted);
  font-style: italic;
}

@keyframes logoWiggle {
  0%,
  100% {
    transform: rotate(-5.625deg);
  }
  50% {
    transform: rotate(5.625deg);
  }
}

.logo > * {
  animation: logoWiggle 2s ease-in-out infinite;
  display: inline-block;
  white-space: pre;
}

.scoreboard-wrapper {
  margin-top: var(--spacing-1);
  overflow-x: auto;
}

.scoreboard {
  border-collapse: collapse;
  table-layout: fixed;
}

.scoreboard th {
  color: var(--fgColor-muted);
  font-weight: inherit;
  text-align: left;
}

.scoreboard .col-score {
  text-align: right;
}

.scoreboard .placeholder {
  color: var(--fgColor-muted);
}

.tricks {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-0_75);
  margin-top: var(--spacing-1);
}

.trick {
  display: flex;
  height: var(--height-card);
  position: relative;
  width: var(--width-card);
}

@keyframes animateTrick {
  0% {
    transform: translateY(var(--spacing-1));
  }
  100% {
    transform: translateY(0);
  }
}

.trick.animate {
  animation: animateTrick var(--transitionDuration-0_5) var(--easeOutExpo);
}

.trick > .card {
  flex-shrink: 0;
  left: 0;
  position: absolute;
  top: 0;
}

.trick > .card:nth-child(odd) {
  transform: rotate(var(--rotate-card-left));
}

.trick > .card:nth-child(even) {
  transform: rotate(var(--rotate-card-right));
}

.trick:is(:focus, :hover) > .card {
  margin-left: calc(var(--spacing-1) * -1);
  position: initial;
}

.trick:is(:focus, :hover) > .card:first-child {
  margin-left: 0;
}
