:root {
  --backgroundColor-card: #fff;
  --backgroundColor-inset: #eee;
  --borderColor-card: #aaa;
  --borderColor-focus: #000;
  --borderRadius-card: 4px;
  --borderWidth-card: 1px;
  --height-card: 56px;
  --width-card: 40px;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-5.625deg) translateY(-8px);
  }
  50% {
    transform: rotate(5.625deg) translateY(-8px);
  }
}

* {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  width: auto;
}

button:focus {
  outline: none;
}

button:disabled > .card {
  color: inherit;
  opacity: 0.5;
}

button:focus > .card,
button:not(:disabled):hover > .card {
  animation: wiggle 2s ease-in-out infinite;
  z-index: 1;
}

button:focus > .card {
  border-color: var(--borderColor-focus);
  outline: var(--borderWidth-card) solid var(--borderColor-focus);
}

.hand {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.card {
  align-items: center;
  background-color: var(--backgroundColor-card);
  border: var(--borderWidth-card) solid var(--borderColor-card);
  border-radius: var(--borderRadius-card);
  display: flex;
  gap: 2px;
  height: var(--height-card);
  justify-content: center;
  user-select: none;
  width: var(--width-card);
}

.discard-pile {
  background-color: var(--backgroundColor-inset);
  border-radius: var(--borderRadius-card);
}

.discard-pile,
.trick {
  height: var(--height-card);
  position: relative;
  width: var(--width-card);
}

.discard-pile > .card,
.trick > .card {
  left: 0;
  position: absolute;
  top: 0;
}

.discard-pile > .card:nth-child(odd),
.trick > .card:nth-child(odd) {
  transform: rotate(5.625deg);
}

.discard-pile > .card:nth-child(even),
.trick > .card:nth-child(even) {
  transform: rotate(-5.625deg);
}

.tricks {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
